.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .logo {
    height: 6em;
    position: absolute;
    left: 3em;
  }

  .cart-icon {
    margin-top: 0.7em
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px;

    @media screen and (max-width: 800px) {
      width: 50px;
      padding: 0;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 800px) {
      width: 80%;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;
      margin-top: 1em;
    }
  }
}